/* The sidebar menu || Extraido de https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp  */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4B9D7A;
  overflow-x: hidden; /* Disable horizontal scroll */
/*    padding-top: 20px;*/
}

/* The navigation menu links */
.sidenav a {
  padding: 100px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav i {
  padding: 100px 8px 6px 16px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #B8D7AB;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.registro1, .registro2 {
    padding-left: 300px;
    padding-top: 30px;
}

.line {
  width: 80%;  
  height: 1px;  
  background-color:#D6D6D6;  
  margin-bottom: 7px;  
  margin-right: auto;  
  margin-left: 190px;  
  margin-top: 9px;
}

.titulo {
  color: #4B9D7A;
  font-size: 40px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 0px;
}

.labelForm {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.btnRegistrar {
  background-color: #4B9D7A;
  color: white;
  opacity: 0.9;
}

.btnRegistrar:hover {
  opacity: 1;
  color: white;
}

body {
  font-family: Ubuntu, sans-serif;
  margin:0;
  box-sizing: border-box;

}


.contenedor{
  width: 100%;
  padding: 15px;
}

.formulario{
  background: #fff;
  padding: 3px;
  max-width: 400px;
  margin-top: 40px !important;

  
}
h1{
  font-size: 25px;
  font-weight: bolder;
  color: #47525E;
  text-align:center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.input-login{
  font-size: 15px;
  font-weight: bolder;
  color: #47525E;
  width: 100%;
  padding: 5px;
  background-color: #A1AFB8;
  border:none;
  text-align: center;
  border-radius: 3px;
  
}

.input-contenedor {
  margin-bottom: 15px;
  border: none;
  
}

.button{
  border: none;
  width: 100%;
  background-color: #549FD7;
  font-size: 15px;
  font-weight: bolder;
  color: #47525E;
  padding: 8px 20px;
  border-radius: 3px;
  cursor:pointer;
}

p{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align:center;
}
a{
  text-align: center!important;
  display:block;

}

@media(min-width:768px){
  .formulario{
    margin:auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}

.icon{
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  color: #47525E;
  background-color: #A1AFB8;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 4px;
  
}

img {
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
}

#footer-cont{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#e2e4f4;
}

#footer-cont2{
  position:fixed;
  left:0px;
  bottom:0px;
  height:100%;
  width:165px;
  background:#974849;
}


.titulo2 {
  color: #974849;
  font-size: 40px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin-top: 8px;
  width: 160px;
  margin-bottom: 0px;

}

.labelForm {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.botonEditar {
  background-color: #974849;
  color: white;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}
.botonGuardar {
  background-color: #974849;
  color: white;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}
.botonEliminar {
  background-color: #974849;
  color: white;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.botonEditar:hover {
  opacity: 1;
  color: #DBCDCD;
  background-color: #de5a67;
}

.botonGuardar:hover {
  opacity: 1;
  color: #DBCDCD;
  background-color: #de5a67;
}

.botonEliminar:hover {
  opacity: 1;
  color: #DBCDCD;
  background-color: #de5a67;
}

.botonVolver{
  background-color: #974849;
  color: white;
  opacity: 1;
  margin-bottom: 10px;
}
.botonVolver:hover {
  opacity: 1;
  color: #DBCDCD;
  background-color: #de5a67;
}

.botones{
  margin-top: 40px;
  margin-right: 33px;

}

#imageninput{
  width:436px;
}


/* aqui empieza el estilo de administrar productos */


#footer-cont4{
  position:fixed;
  left:0px;
  bottom:0px;
  height:100%;
  width:130px;
  background:#3AB3A0;
}

#adminp{
  color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  font-weight: bold;
  margin-bottom: 20px;
}

.line2 {
  width: 1090px;  
  height: 1px;  
  background-color:#D6D6D6;  
  margin-right: auto;  
  margin-left: 150px; 
  margin-top: 0px;
}


.contenido{
  float: left;
  width: 50%;
  padding: 60px;
  height: 150px; 
  font-family: Ubuntu, sans-serif;
}


th{
  padding: 12px;
  text-align:center;

}

td{
  padding: 5px;
  text-align:center;
}

thead{
  background-color: #8dd4c9;
  border-bottom: solid 5px #3AB3A0;
}

tr:nth-child(even){
  background-color: #F9FAFC;
  
}


table{
  margin: 20px auto;
  border-collapse: collapse;
  width: 200%;
  text-align:center;
  font-family: Ubuntu, sans-serif;
  margin-left: 130px;
}


#boton_ap_edit{
  margin: 15px auto;
  padding: 0px; 
  border: none; 
  background: none;
  font-size: 25px;
  color: green;
}
#boton_ap_delete{
  margin: 15px auto;
  padding: 0px; 
  border: none; 
  background: none;
  font-size: 25px;
  color:red;
}

.buttonvolver{
  padding: 0px; 
  border: none; 
  background: none;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  margin-left: 150px;
  margin-bottom: 10px;
}

#products{
margin-left: 150px;
margin-top: 30px;
}

#desc{
  width: 450px;
  margin-left: 200px;
}

#producto{
  width: 300px;
}

#imageninput2{
  margin-left: 200px;
  width:450px;
}

#guardar_admin {
  background-color: #8dd4c9;
  color: black;
  opacity: 1;
  height: 40px!important;
  width: 150px!important;
  margin-left: 1010px;
  margin-bottom: 50px;
  border-width: 1px;
  border-color: black;
}

#guardar_admin:hover {
  opacity: 1;
  color: black;
  background-color: #3AB3A0;
}

#prodact{
  margin-left: 130px;
  font-size: 25px;
}

.admin_productos{
  margin-bottom: 50px;
}














